.Modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(2px);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Modal-content {
  position: relative;
  background-color: #fff;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  width: 90%;
  text-align: center;
  animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.close-button {
  position: fixed;
  top: 12px;
  right: 100px;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #333;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.close-button:hover {
  transform: scale(1.2);
  color: #e60023;
}

.Modal-content img {
  width: 200px;
  border-radius: 10px;
  margin: 20px 0;
  object-fit: contain;
}

.Modal-content h2 {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: #222;
}

.Modal-content p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
}

.Modal-content p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 10px;
  word-break: break-word;
  max-width: 100%;
}
