.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  max-width: 90%;
  gap: 24px;
  padding: 40px;
  width: 100%;
  overflow-X: auto;

}
html, body {
  margin: 0;
  padding: 0;
  height: auto;
  overflow-y: auto;
}

.Modal-overlay {
  position: relative;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(2px);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

