button{
    width: 206px;
    height: 50px;
    margin-top: 10px;
    padding: 7px 49px 7px 49px;
    background-color: rgba(247, 202, 17, 1);
    border: none;
    border-radius:5px;
    cursor: pointer;
}