.product-card {
  width: 304px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 5px rgba(172, 172, 171, 0.904);
  display: flex;
  flex-direction: column;
  
 

  img{
    width: 278.1px;
    height: 228px;
    margin-top: 25px;
    margin-left: 12.39px;
  }
  h3{
    font-size: 18px;
    font-weight: 700;
    margin-left:4px;
  }

  p{
    width: 275.85px;
    margin-top: 10px;
    font-size: 13px;
    font-weight: 300;
    margin-left:5px;
  }

  .frete{
    margin-left:5px;
  font-size:15px;
  color: rgba(52, 66, 181, 1);
  }

  .old-price{
    margin-left:5px;
    font-size: 13px;
    text-decoration: line-through;
    color: #999;
    margin-bottom: 0;
  }

  .new-price{
    margin-left:5px;
    margin-top: 0;
  }

  button{
    margin: auto;
    background-color: blue;
    border-radius:5px ;
    color: rgba(255, 255, 255, 1);
    font-size: 14px;

  }
}
.short-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  max-height: 3.2em;
  line-height: 1.6em;
}

