.banner {
    background-image: url("../../assets/banner.jpg");
    background-size: cover;
    background-position: center;
    height: 390px;
    width: 100vw;
    top: 144px;
    z-index: -1;

    .sombra {
        background: linear-gradient(-90deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.8));
        width: 65%;
        height: 100%;
        top: 144px;
        left: -0px;
        rotate: -90%;

        .text-banner {
            width: 822px;
            height: 128px;
            position: relative;
            top: 81px;
            left: 81px;
            display: flex;
            flex-direction: column;
            gap: 20px;
        }

        h1 {
            font-family: poppins;
            font-size: 50px;
            font-weight: 600;
            line-height: 50px;
            color: rgba(255, 255, 255, 1);
        }

        p {
            font-size: 32px;
            font-weight: 400;
            line-height: 100%;
            color: rgba(255, 255, 255, 1);
        }

        span {
            color: rgba(247, 202, 17, 1);
            font-size: 32px;
            font-weight: 700;
            line-height: 100%;
        }
    }
}

.partners {
    margin: 80px auto;
    display: flex;
    gap: 13px;
    justify-content: center;
    align-items: center;

    .Partners1 {
        background-image: url("../../assets/Mask\ Group.png");
        background-size: cover;
        background-position: center;
        height: 350px;
        width: 634px;
        z-index: -1;
    }

    .Partners2 {
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0));
        width: 634px;
        height: 231px;
        position: relative;
        top: 79px;
        border-radius: 20px;

        .textpartnes {
            margin: 45px 45px;
            display: flex;
            flex-direction: column;
            gap:20px ;

            h1 {
                font-weight: 700;
                font-size: 40px;
                line-height: 100%;
                color: rgba(255, 255, 255, 1);
            }

            p{
               font-size: 16px; 
               font-weight: 400;
               line-height: 100%;
               color: rgba(255, 255, 255, 1);
            }

            Button{
              width: 144.69px;  
              height: 48px;
              border-radius: 6px;
              cursor: pointer;

            }
        }
    }
}
